/* light mode header styles */
:host header {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
    padding: 4px 15px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.14);
border-radius: 12px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.9px);
-webkit-backdrop-filter: blur(11.9px);
}

/* dark mode header styles */
:host-context(.dark) header {
background: rgba(105, 105, 105, 0.14);
}