main {
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
  background: radial-gradient(
    125% 125% at 50% 90%,
    #ffffff 40%,
    #aff7c7ff 100%
  );
  background-repeat: repeat;
  background-attachment: fixed;
}

:host-context(.dark) main {
  background: radial-gradient(125% 125% at 50% 90%, #000000 40%, #072607 100%);
  background-repeat: repeat;
  background-attachment: fixed;
}
