.qr-card {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .resolutionLabel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
  }

  .resolutionValues {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-bottom: 1rem;

    .label {
      font-size: 0.875rem;
      opacity: 0.4;
    }
  }

  .slider {
    margin: 1rem 0;
    width: 90% !important;
  }

  .qr-canvas {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    position: relative;
    max-width: 300px !important;
    width: 100%;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .download-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .resetBtn,
  .downloadBtn {
    width: 100%;
    border-radius: 10px;
  }
}
